.projects {
    padding: 80px 20px;
    border-radius: 12px;
    background: linear-gradient(120deg, #0e0d0d, #021466,  #023683);
}

.projects h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #e0f2fe;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.project-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(56, 189, 248, 0.25);
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 50px rgba(56, 189, 248, 0.35);
}

.project-image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-content {
    padding: 20px;
    text-align: left;
}

.project-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #e0f2fe;
}

.project-content p {
    font-size: 0.95rem;
    color: #e0f2fe;
    margin-bottom: 15px;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 15px;
}

.project-tech span {
  background: rgba(56, 189, 248, 0.15);
  color: #bae6fd;
  font-size: 0.75rem;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid rgba(56, 189, 248, 0.35);
}

.project-links {
    display: flex;
    gap: 15px;
}

.project-links a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: #38bdf8;
}

.project-links a:hover {
    text-decoration: underline;
    filter: brightness(1.3);
}