.skills {
    padding: 20px 20px;
    margin-top: 2%;
    
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    border: 1px solid rgba(56, 189, 248, 0.15);
}

.skills h2 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #e0f2fe;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.skill-card {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 14px;
  border: 1px solid rgba(56, 189, 248, 0.25);
  color: #e0f2fe;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  box-shadow: 0 0 20px rgba(2, 54, 131, 0.25);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.skill-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 40px rgba(56, 189, 248, 0.25);
}

.skill-card > div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.skill-name {
    font-weight: 600;
    font-size: 1rem;
    color: #e0f2fe;
}


.skill-category {
    font-size: 0.90rem;
    color: #bae6fd;
}

.skill-bar {
    width: 100%;
    height: 10px;        
    background:rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 6px;
    
}

.skill-progress {
  height: 100%;
  border-radius: 20px;
  transition: width 0.6s ease;
  box-shadow: 0 0 10px rgba(56, 189, 248, 0.6);
}

.skill-percent {
  font-size: 0.85rem;
  font-weight: 600;
  color: #e0f2fe;
  text-align: right;
  width: 100%;
}

/* responsive */

@media (max-width: 768px) {
  .skill-card {
    padding: 16px;
  }
}

@media (max-width: 480px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .skill-bar {
    height: 8px;
  }
}



/* @media screen and (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    }

    .skill-card {
        padding: 16px; 
    }

    .skill-name {
        font-size: 0.95rem;
    }

    .skill-category {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 480px) {
    .skills-grid {
        grid-template-columns: 1fr; 
    }

    .skill-card {
        padding: 14px;
    }

    .skill-bar {
        height: 8px; 
    }

    .skill-name {
        font-size: 0.9rem;
    }

    .skill-percent {
        font-size: 0.8rem;
    }
} */
