html, body, #root {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #000814;
  color: #e0f2fe;
  padding: 2%;
  overflow-x: hidden;}

/* neon background layer */
.neon-bg {
  position: fixed;
  inset: -200px;
  z-index: -1;
  
  background: radial-gradient(circle at 50% 50%, rgb(2, 54, 131, 0.8), transparent 50%),
  linear-gradient(180deg, #0e0d0d, #021466, #023683, #043c91);
  filter: blur(10px);
}

/* app content */
.App {
  min-height: 100vh;
  color: white;
  font-size: 40px;
}
