html, body, #root {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #000814;
  color: #e0f2fe;
  padding: 2%;
  overflow-x: hidden;}

/* neon background layer */
.neon-bg {
  position: fixed;
  inset: -200px;
  z-index: -1;
  
  background: radial-gradient(circle at 50% 50%, rgb(2, 54, 131, 0.8), transparent 50%),
  linear-gradient(180deg, #0e0d0d, #021466, #023683, #043c91);
  filter: blur(10px);
}

/* app content */
.App {
  min-height: 100vh;
  color: white;
  font-size: 40px;
}

/* ============================= */
/* Startup Confirm Screen */
/* ============================= */

.startup-alert {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  animation: fadeIn 0.6s ease;
}

.startup-box {
  max-width: 520px;
  width: 90%;
  background: #020617;
  border: 1px solid #1d4ed8;
  border-radius: 16px;
  padding: 30px;
  text-align: center;
  box-shadow:
    0 0 20px rgba(37, 99, 235, 0.4),
    0 0 60px rgba(37, 99, 235, 0.2);
}

.startup-box h2 {
  margin-bottom: 15px;
  color: #38bdf8;
  font-size: 1.4rem;
}

.startup-box p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #cbd5f5;
}

.startup-box strong {
  color: #93c5fd;
}

/* Button */

.startup-box button {
  margin-top: 20px;
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #2563eb, #38bdf8);
  color: white;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(56, 189, 248, 0.5);
}

.startup-box button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.9);
}

/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

